
html, body {font-size: 12px; }

form p { margin-top: 0; margin-bottom: 5px; }
label {display: inline-block; width: 80px; }
input[type='submit'] {margin-left: 80px; margin-top: 20px; min-width: 100px;}

.logout { margin-top: 50px; }

.student { display: inline-block; min-width: 200px; }